#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 5em;
  padding-left: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.read-the-docs {
  color: #888;
}

.inicio{

}

.otro{
  display: flex;
}

.medio{
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 1em;


}
.interno{

  display: flex;
  align-items: center;
  padding: 0.5em;
}
.derecha{

}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  
}