/* HeroSection.css */

.hero-section {
    position: relative;
    width: 100%;
    height: 550px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: rgb(218, 224, 226); /* Color del texto */
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .titulomedio{
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: left;
  }
  
  .explore-button,
  .contact-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(76, 147, 175); /* Puedes cambiar el color según tu diseño */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .explore-button:hover,
  .contact-button:hover {
    background-color: #4566a0; /* Cambia el color al pasar el ratón sobre los botones */
  }
  

  .product-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .text-container {
    width: 50%;
  }
  
  .text-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .text-container p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555; /* Puedes ajustar el color del texto según tus necesidades */
  }
  
  .small-text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .small-text div {
    width: 48%; /* Ajusta el ancho de los textos pequeños según tu diseño */
  }
  
  .small-text h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .small-text p {
    font-size: 1em;
    color: #777; /* Puedes ajustar el color del texto pequeño según tus necesidades */
  }
  
  .image-container {
    width: 35%;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Añade bordes redondeados a la imagen si lo deseas */
  }

  


  .engineering-info-container {
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }
  
  .left-content {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
  
  .left-content h2 {
    width: 50%;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;

  }
  
  .left-content p {
    width: 50%;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    color: #555;
    padding-right: 1.5em;
 
  }
  
  .right-content {
    padding-top: 3.5em;
    display: flex;
    width: 100%;
  }
  
  .section {
    margin-bottom: 40px;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  
  .section img {
    width: 40px; /* Ajusta el tamaño del icono según tu diseño */
    height: 40px;
    margin-bottom: 10px;
  }
  
  .section h3 {
    padding-top: 1em;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .section p {
    font-size: 1em;
    color: #777;
    margin-bottom: 15px;

  }
  
  .section a {
    color: #4CAF50;
    text-decoration: none;
  }

  


 .client-testimonials-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.testimonial-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.testimonial-content {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.testimonial-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-name {
  font-weight: bold;
}

.testimonial-rating {
  display: flex;
  align-items: center;
}

.testimonial-rating span {
  font-size: 1.5em;
  margin-right: 3px;
  color: #FFD700; /* Color de estrellas amarillas */
}




.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
}

.text-section {
  width: 40%;
  text-align: left;
  padding-left: 2em;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
  margin-bottom: 20px;
}

.buttons-section {
  display: flex;
  gap: 50px;
}

.contact-button,
.whatsapp-button {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: #1d3566; /* Color de fondo del botón de contacto */
  color: #fff; /* Color del texto del botón */
  border-radius: 5px;
}


.image-section {
  width: 40%;
}
s
.image-section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
